@import "partials/sidebar";

main {
	display: grid;
	grid-template-columns: 2fr 1fr;
	max-width: 1200px;
	margin: 0 150px;
}
.profile {
	margin-top: 2rem;
	background-color: white;
	height: 800px;
	width: 500px;
}
