html, body {
    height: 100%;
    width: 100%;
  } 

header{
  background-color: blue;
}
  
h1{
  text-align: center;
}
.tab {
    overflow: hidden;
    /* border: 1px solid #ccc; */
    background-color:blue;
    color:white;
    justify-content: center;
    /* align-content: center; */
    display: flex;

}

.tab ul{
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */

}

.tab ul li{
  float:left;
  text-align:center;
  padding: 16px
}

.tab .buttonSearch{
  float:right;
   padding:16px
}


.active{
  background-color: yellow;
}


@media screen and (max-width: 600px) {
  .tab ul li {
    float: none;
    display: block;
    text-align: center;
    width: 100%;
    margin: 0;
    padding: 14px;
  }

} 
