aside {
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;
	margin: 2rem;
}
.discover {
	height: 400px;
	width: 300px;
	margin-bottom: 10px;
	background-color: white;
}
