table{
    border: 1px solid black
}


table tr {
    border: 1px solid black

}


table th{
    border:1px solid black
}


table td {
    border:1px solid black

}

td:nth-child(odd):hover{
    background-color:yellow
}

td:nth-child(even):hover::first-letter{
    color:red;
    font-size:35px;
}





